body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #ffffff;
      color: #333;
    }

    header {
      color: #fff;
      background-color: #6a0dad;
      padding: 20px;
      text-align: center;
    }

    nav {
      background-color: #eee;
      padding: 10px 0;
      text-align: center;
    }

    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #6a0dad;
      font-weight: bold;
    }

    main {
      padding: 40px 20px;
      max-width: 900px;
      margin: auto;
    }

    h1, h2 {
      color: #6a0dad;
    }

    section {
      margin-bottom: 40px;
    }

    footer {
      background-color: #6a0dad;
      color: #fff;
      text-align: center;
      padding: 15px;
      position: fixed;
      width: 100%;
      bottom: 0;
    }

    .card {
      border: 1px solid #ddd;
      border-left: 5px solid #6a0dad;
      padding: 20px;
      margin-bottom: 20px;
      background-color: #f9f9ff;
      border-radius: 8px;
    }

    .styled-image {
    width: 100%;
    max-width: 300;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 20px auto;
}

.test{
      color: #fff;
}